<form (submit)="onSubmit()" [formGroup]="loginForm">
  <div class="container">
    <mat-card fxFlex="80" fxFlex.gt-sm="50">
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>Enter your credentials</mat-card-subtitle>
      <mat-card-content fxLayout="row wrap" fxLayoutAlign="center start">
        <mat-form-field fxFlex="60" f>
          <mat-label>newPassword</mat-label>
          <input
            class="email"
            placeholder="newPassword"
            matInput
            formControlName="newPassword"
          />
          <mat-error>email is invalid</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="60">
          <mat-label>re enterpassword</mat-label>
          <input
            class="password"
            placeholder="password"
            matInput
            formControlName="password"
          />
          <mat-error>email is invalid</mat-error>
        </mat-form-field>
        <div fxFlex="60" fxLayoutAlign="center start">
          <button fxFlex="30" class="login-button" mat-raised-button>
            login
          </button>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- <div class="login-card"></div> -->
  </div>
</form>
